/* ### GLOBAL ### */

body {
  background: lightgray;
  font-family: Verdana;
  box-sizing: border-box;
}

.nav-spacer {
  min-height: 175px;
}

/* remove outline in firefox */
button::-moz-focus-inner {
  border: 0;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* ### GLOBAL CREATE FORMS ### */

.required-field {
  color: red;
}

.input-field {
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-top: 5px;
}

.input-field-state {
  padding: 5px;
  margin-top: 5px;
}

.description-field {
  height: 100px;
}

.input-field-gpa {
  width: 75px;
  margin-top: 5px;
  padding: 5px;
}

.input-field-school {
  padding: 5px;
  margin-top: 5px;
}


/* ### TITLES ### */


.sub-title-create {
  font-family: Verdana;
  color: white;
}

.sub-title-update {
  font-family: Verdana;
  color: white;
}

.edit {
  color: yellow;
}

/* ### BUTTONS ### */

.create-btn {
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  outline: none;
}

.create-btn:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.create-form-btn {
  background-color: green;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.create-form-btn:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.delete-form-btn {
  background-color: red;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  margin-left: 10px;
}

.delete-form-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  outline: none;
}

.delete-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.unenroll-student-btn {
  margin-left: 5px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.unenroll-student-btn:hover {
  margin-left: 5px;
  background-color: darkred;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.enroll-student-btn {
  margin-left: 5px;
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.enroll-student-btn:hover {
  margin-left: 5px;
  background-color: darkgreen;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


/* ### HEADER ### */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  text-align: center;
  font-family: Verdana;
}

/* ### NAV ### */

.nav {
  position: fixed;
  width: 100%;
  top: 75px;
  left: 0px;
}

.nav-grid-container {
  display: grid;
  background-color: #8AA8DB;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 15px;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-around;
}

.nav-grid-item-1 {
  grid-column: 3;
}

.nav-grid-item-2 {
  grid-column: 4;
}

.nav-grid-item-3 {
  grid-column: 5;
}

.nav-button {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  /* font-weight: bold; */
  color: blue;
  font-size: 18px
}

.nav-button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.nav-selected {
  background-color: blue;
  color: white;
}

/* ### ALL SCHOOLS TABLE ### */

.sub-title-school {
  color: white;
  text-align: center;
}

.school-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background-color:  #1A1A1A;
  width: 33%;
  height: 75px;
  margin: 0 auto;
  border-radius: 10px;
}

.school-grid-item-1 {
  grid-column: 1;
  align-self: center;
}

.school-grid-item-2 {
  grid-column: 2;
  align-self: center;
}

.school-table {
  width: 33%;
  margin: 0 auto;
}

tr.table-heading th {
  background-color:  #154360;
  padding: 5px;
  color: white;
}

.name-heading {
  text-align: left;
}

.school-name {
  list-style: none;
  text-align: left;
}

.student-count {
  text-align: center;
}

.blank-row {
  height: 10px;
}


/* ### ALL STUDENTS ### */

.student-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background-color:  #1A1A1A;
  width: 33%;
  height: 75px;
  margin: 0 auto;
  border-radius: 10px;
}

.student-grid-item-1 {
  grid-column: 1;
  align-self: center;
}

.student-grid-item-2 {
  grid-column: 2;
  align-self: center;
}

.sub-title-students {
  color: white;
  text-align: center;
}

.student-table {
  width: 33%;
  margin: 0 auto;
}

.student-cell {
  width: 200px;
}

.school-cell {
  text-align: center;
}



/* ### CREATE SCHOOL ### */

.create-school-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  width: 100%;
}

.create-school-grid-item-1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  background-color:  #1A1A1A;
  text-align: center;
  width: 500px;
  /* height: 75px; */
  border-radius: 10px;
}

.create-school-grid-item-2 {
  grid-row: 3;
  align-self: center;
  width: 500px;
  margin-bottom: 50px;
}


/* ### CREATE STUDENT ### */

.sub-title-create-student {
  font-family: Verdana;
  color: white;
}

.create-student-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 0px;
}

.create-student-grid-item-1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  background-color:  #1A1A1A;
  text-align: center;
  width: 500px;
  /* height: 75px; */
  border-radius: 10px;
}

.create-school-grid-item-2 {
  grid-row: 3;
  align-self: center;
  width: 500px;
  margin-bottom: 50px;
  margin-top: 25px;
}




/* ### UPDATE STUDENT ### */

.update-student-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.update-student-grid-item-1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: center;
  background-color:  #1A1A1A;
  text-align: center;
  /* width: 400px; */
  border-radius: 10px;
}

.update-school-grid-item-2 {
  grid-row: 3;
  align-self: center;
  width: 500px;
  margin-bottom: 50px;
}


/* ### UPDATE SCHOOL ### */

/* to center child div below */
.title-block {
  text-align: center;
}

.update-school-name {
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color:  #1A1A1A;
  margin-bottom: 50px;
  padding: 5px 75px;
}

.update-school-sub-title {
  color: blue;
  text-align: center;
  font-size: 20px;
}

.update-school-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 30px;
}

.update-school-grid-item-1 {
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: center;
  align-self: start;
  width: 600px;
  margin-bottom: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 35px 10px 20px;
}

.update-school-grid-item-2 {
  grid-column: 2;
  grid-row: 1 / span 3;
  align-self: start;
  justify-self: center;
  width: 400px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 35px;
}

.update-school-grid-item-4 {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.update-school-grid-item-5 {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

.update-school-grid-item-6 {
  grid-column: 2;
  grid-row: 4;
  align-self: center;
  justify-self: center;
}



/* ### ENROLLED STUDENTS ### */

.enrolled-school-name {
  font-size: 16px;
  color: #595959;
}

.enrolled-students-area {
  background-color: white;
  padding: 3px 0px 10px 10px;
  /* width: 400px; */
  text-align: center;
  height: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #888888;
  box-shadow: 5px 5px #888888;
}

.enrolled-students-subtitle {
  margin-top: 5px;
  text-align: center;
}

.enroll-table {
  width: 55%;
  margin: 0 auto;
}

.enrolled-student {
  list-style: none;
  text-align: left;
}

.enroll-student-list {
  padding: 5px;
}


/* ### images */

.img-404 {
  display: block;
  margin: 0 auto;
}

.home-page-pic {
  display: block;
  margin: 0 auto;
  width: 700px;
}
